
body {
  font-family: Arial, sans-serif;
  background-color: #eef2f3;
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


form fieldset {
  padding: 20px;
  border-radius: 10px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

p {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  border: none;
  background: #2b8cff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

input[type="reset"] {
  background: #6c757d;
}

input[type="submit"]:hover {
  background: #0069d9;
}

input[type="reset"]:hover {
  background: #545b62;
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background: #007bff;
  color: white;
}

button {
  background: red;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: darkred;
}

.voltar {
  margin-top: 30px;
  display: block;
  text-align: center;
}
